@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700,900);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
}


h1 {
    margin-left: 25px;
}

.card {
    margin: 40px;
    width: 450px;
    border: 5px black solid;
}

.card::after {
    content: "";
    display: block;
}

.avatar {
    width: 100%;
    display: block;
    aspect-ratio: 1;
    align-self: start;
}

.data {
    padding: 24px 32px 32px;
}

p {
    margin-left: 25px;
}

.skill-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 16px;
}

.skill {
    padding: 2px 12px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
}

